
body{
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* NAVBAR */

.nav-bar{
    display:flex;
    align-content: center;
    height: 15%;
    min-height: 15%;
    width: 100%; 
}

.nav-bar div{
    width: 50%;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a{
    width: 20%;
    color:#081E44;
    font-weight: 600;
}

.logo-container{
   display: flex;
   align-items: center;
   height: 100%;
   margin-left: 3%;
 
}

.logo{
    font-family: 'Abril Fatface';
    font-size: 1.9rem;
    color:#F99D07;
}


/* SIGN IN , SIGN UP & HOME PAGE*/

.member-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 85%;
}

.form-container{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    padding: 7%;
}

.main-image-container{
    display: flex;
    width: 65%;
}

#main-image {
    width: 90%;
}

.member-btn {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    width: 35%;
    background: #081E44;
    color: #FBF8EA;
    letter-spacing: 1px;
    border-radius: 35px;
    box-shadow: 0 6px #3264D0;
    cursor: pointer;
}

/* HOME PAGE */

.slogan-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 35%;
}

.member-btn-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5% 20%;
}

/* PAGE SUB CONTAINER */

.sub-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* SEARCH FORM */

.search-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}












.content-container{
 margin:4vw
}

.member-btn-container{
    padding-top:3vh;
}





.member-btn:hover{
    color: #FBF8EA;
}

.sign-link{
    color:#3264D0;
}

.sign-link:hover{
    color: #F99D07;
}

.book-cover{
    height: 50vh;
}

.add-btn{
    width: 25%;
    padding: 0px;
    background-color: #F99D07 ;
    border-color: #F99D07;
    color:  #FBF8EA;
}

