
body{
    width: 100vw;
    height: 100vh;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* NAVBAR */

.nav-bar{
    display:flex;
    align-content: center;
    height: 10%;
    width: 100%; 
}

.nav-bar div{
    width: 50%;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a{
    width: 20%;
    color:#081E44;
    font-weight: 600;
}




.logo-container{
   display: flex;
   align-items: center;
   height: 100%;
   margin-left: 3%;
 
}

.logo{
    font-family: 'Abril Fatface';
    font-size: 1.6rem;
    color:#F99D07;
}






.content-container{
 margin:4vw
}

.member-btn-container{
    padding-top:3vh;
}

#main-image {
    width: 100%;
}

.member-btn {
    display: inline-block;
    padding: 10px 25px;
    width: 35%;
    margin-right: 10px;
    background: #081E44;
    color: #FBF8EA;
    letter-spacing: 1px;
    border-radius: 35px;
    box-shadow: 0 6px #3264D0;
    cursor: pointer;
}

.member-btn:hover{
    color: #FBF8EA;
}

.sign-link{
    color:#3264D0;
}

.sign-link:hover{
    color: #F99D07;
}

.book-cover{
    height: 50vh;
}

.add-btn{
    width: 25%;
    padding: 0px;
    background-color: #F99D07 ;
    border-color: #F99D07;
    color:  #FBF8EA;
}

