.content-container{
 margin:4vw
}

.member-btn-container{
    padding-top:6vh;
}

#main-image {
    width: 100%;
}

.member-btn {
    display: inline-block;
    padding: 10px 25px;
    width: 35%;
    margin-right: 10px;
    background: #081E44;
    color: #FBF8EA;
    letter-spacing: 1px;
    border-radius: 35px;
    box-shadow: 0 6px #3264D0;
    cursor: pointer;
}

.member-btn:hover{
    color: #FBF8EA;
}

